<div class="d-flex justify-content-between">
  <div class="usk-header">
    Logs:
  </div>
</div>

<table class="table table-striped table-hover mt-3">
  <thead>
    <tr class="table-primary">
      <th>wer</th>
      <th>Beschreibung</th>
      <th>wann</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>

        <td><%= log.user.name %></td>

        <td><%= log.content %></td>

        <td><%= time_ago_in_words(log.created_at) %></td>

     </tr>
    <% end %>
  </tbody>
</table>
