<div class="usk-header">Benutzer: <%= @user.name %></div>

<%= form_for(@user) do |f| %>

  <div>
    <%= f.label :name, 'Name:', class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Benutzername" %>
  </div>

  <div>
    <%= f.label :email, 'E-Mail:', class: "form-label" %>
    <%= f.text_field :email, class: "form-control", placeholder: "E-Mail" %>
  </div>

  <div class="form-check">
    <%= f.check_box :confirmed, class: "form-check-input" %>
    <%= f.label :confirmed, 'E-Mail bestätigt', class: "form-check-label" %>
  </div>

  <div class="form-check">
    <%= f.check_box :user, class: "form-check-input" %>
    <%= f.label :user, 'ist User', class: "form-check-label" %>
  </div>

  <div class="form-check">
    <%= f.check_box :admin, class: "form-check-input" %>
    <%= f.label :admin, 'ist Administrator', class: "form-check-label" %>
  </div>

  <div class="form-check">
    <%= f.check_box :clear_messages, class: "form-check-input" %>
    <%= f.label :clear_messages, 'alle Mitteilungen löschen (' + @user.message_ids.size.to_s + ')', class: "form-check-label" %>
  </div>

  <table class="table table-striped table-hover">

    <thead>
      <tr class="table-primary">
        <th>Gruppe</th>
        <th>ist Mitglied</th>
      </tr>
    </thead>

    <tbody>
      <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) do |b| %>
        <tr>
          <td><%= b.label %></td>
          <td>
            <%= b.check_box class: "form-check-input" %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <div class="usk-btn-group">
    <%= f.submit "Speichern", class: "btn btn-primary" %>
    <%= link_to "Abbrechen", users_path, class: "btn btn-danger" %>
  </div>

<% end %>

