<div class="d-flex justify-content-between">
  <div class="usk-header">Benutzer:</div>
  <% if administration? %>
    <%= link_to new_user_path do %>
      <%= render 'layouts/add_button', tooltip: 'Neuer Benutzer' %>
    <% end %>
  <% end %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr class="table-primary">
      <th></th>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Role</th>
      <% if administration? %>
        <th>Aktion</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td class="w-1-px">
          <% if user == current_user %>
            <%= image_tag('icon-star.png', class: "opacity-50") %>
          <% end %>
        </td>

        <td>
          <%= link_to user.name, user_path(user.id) %>
        </td>

        <td><%= user.email %></td>

        <td>
          <%  clazz = ''
              if user.admin?
                clazz = 'nav-item badge text-bg-danger'
              elsif user.user?
              elsif user.candidate?
                clazz = 'nav-item badge text-bg-success'
              else
                clazz = 'nav-item badge text-bg-warning'
              end
          %>
          <span class="<%= clazz %>"><%= user.display_role %></span>
        </td>

        <% if administration? %>
          <td>
            <%= link_to edit_user_path(user.id) do %>
              <%= render 'layouts/img_button', src: 'icon-edit.png', tooltip: 'Editieren' %>
            <% end %>
            <%= link_to user, data: { turbo_method: :delete, turbo_confirm: "Bist Du sicher?" } do %>
              <%= render 'layouts/img_button', src: 'icon-delete.png', tooltip: 'Löschen' %>
            <% end %>

            <% if user.candidate? %>
              <%= link_to accept_user_path(user.id), data: { turbo_method: :get, turbo_confirm: "Benutzer in die Gruppe aufnehmen?" } do %>
                <%= render 'layouts/img_button', src: 'icon-group-add.png', tooltip: 'Aufnehmen' %>
              <% end %>
            <% end %>
          </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
