<div class="usk-header">Neuer Benutzer</div>

<%= form_for(@user) do |f| %>

  <div class="form-outline mb-4">
    <%= f.label :name, 'Name:', class: "form-label" %>
    <%= f.text_field :name, class: "form-control form-control-lg", placeholder: "Benutzername" %>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <%= f.label :email, 'E-Mail:', class: "form-label" %>
    <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "E-Mail Adresse" %>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-3">
    <%= f.label :password, 'Passwort:', class: "form-label" %>
    <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Passwort" %>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-3">
    <%= f.label :password_confirmation, 'Passwort:', class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-control form-control-lg", placeholder: "Passwort wiederholung" %>
  </div>

  <div class="usk-btn-group">
    <%= f.submit "Erstellen", class: "btn btn-primary" %>
    <%= link_to "Abbrechen", users_path, class: "btn btn-danger" %>
  </div>

<% end %>
