<div class="usk-header">
  <% if @user == current_user %>
    Mein Profil:
  <% else %>
    Profil von <%= @user.name %>:
  <% end %>
</div>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th scope="row">E-Mail</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th scope="row">Role</th>
      <td><%= @user.display_role %></td>
    </tr>
    <tr>
      <th scope="row">Meine Gruppen</th>
      <td>
        <% @user.groups.each do |group| %>
          <%= link_to group.name, group_path(group.id) %><%= @user.groups.last == group ? '' : ', ' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">Meine letzten Mitteilungen</th>
      <td>
        <ul class="list-group list-group-flush">
          <% @user.messages.reverse.take(3).each do |msg| %>
            <li class="list-group-item p-0">
              <%= link_to msg.subject, message_path(msg.id) %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
