<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid flex-nowrap">

    <%= link_to "Urban Sketchers Aachen", root_path, id: "logo", class: "navbar-brand fw-bold usk-div-visible-up-lg" %>
    <%= link_to "Usk-AC", root_path, id: "logo", class: "navbar-brand fw-bold usk-div-visible-down-lg" %>

    <% if logged_in? %>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 me-auto">
        <div><%= link_to "Benutzer", users_path %></div>
        <div><%= link_to "Gruppen", groups_path %></div>
        <div><%= link_to "Mitteilungen", messages_path %></div>

        <% if administration? %>
          <div>
            <div class="badge text-bg-secondary">Administration an</div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% unless administration? %>

      <div class="row row-cols-1 row-cols-md-2 me-1 ms-auto">
        <div class="text-end"><%= link_to "Datenschutz", datenschutz_path %></div>
        <div class="text-end"><%= link_to "Impressum", impressum_path %></div>
      </div>

    <% end %>

    <% if logged_in? %>

      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><%= link_to "Mein Profil", current_user, class: 'dropdown-item' %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Administrationsmodus " + (administration? ? 'aus' : 'an'), administration_path, class: 'dropdown-item' %></li>
            <% if administration? %>
              <li><%= link_to "Logs", logs_path, class: 'dropdown-item' %></li>
            <% end %>
          <% end %>
          <li class="dropdown-divider"></li>
          <li>
            <%= button_to "Abmelden", logout_path, method: :delete, class: 'dropdown-item' %>
          </li>
        </ul>
      </div>

    <% else %>

      <%= link_to "Anmelden", login_path, class: "active" %>

    <% end %>
 
  </div>
</nav>
