<% if flash.any? %>
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <% flash.each do |message_type, message| %>

      <div class="toast text-bg-<%= message_type.to_s %>" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Usk-AC</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <%= message %>
        </div>
      </div>

    <% end %>
  </div>
  <script>
    (function() {
      const toastElList = document.querySelectorAll('.toast')
      const toastList = [...toastElList].map(toastEl => bootstrap.Toast.getOrCreateInstance(toastEl, { delay: 3000 }))
      toastList.forEach( toast => toast.show() );
    }());
  </script>
<% end %>
