<!DOCTYPE html>
<html>
  <head>
    <title>UskAc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/header' %>

    <div class="container-fluid flex-column">

      <% if logged_in? %>

        <div class="text-center d-none" data-controller="subscribe" data-key="<%= ENV['VAPID_PUBLIC'] %>">
          Willst Du Push-Benachrichtigungen bekommen? -&gt;
          <button type="button" class="btn btn-primary btn-sm">Aktivieren</button>
        </div>
        
      <% end %>

      <div class="container-fluid flex-fill py-2">
        <%= yield %>
      </div>

    </div>

    <turbo-frame id="toast">
      <%= render 'layouts/toast' %>    
    </turbo-frame>

  </body>
