<div class="d-flex justify-content-between">
  <div class="usk-header">
    Gruppen:
  </div>

  <% if administration? %>
    <%= link_to new_group_path do %>
      <%= render 'layouts/add_button', tooltip: 'Neue Liste' %>
    <% end %>
  <% end %>
</div>

<table class="table table-striped table-hover mt-3">
  <thead>
    <tr class="table-primary">
      <th></th>
      <th>Name</th>
      <th>Beschreibung</th>
      <th>Mitgliederzahl</th>
      <% if administration? %>
        <th>Aktion</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <% user_in = group.users.include? current_user %>
      <tr>

        <td class="w-1-px">
          <% if user_in %>
            <%= image_tag('icon-star.png', class: "opacity-50") %>
          <% end %>
        </td>

        <td>
          <%= link_to group.name, group_path(group.id) %>
        </td>

        <td><%= truncate(group.description, length: 64) %></td>

        <td><%= group.users.size.to_s + (group.users.size == 1 ? ' Person' : ' Personen') %></td>

        <% if administration? %>
          <td>
          
            <%= link_to edit_group_path(group.id) do %>
              <%= render 'layouts/img_button', src: 'icon-edit.png', tooltip: 'Editieren' %>
            <% end %>

            <%= link_to group, data: { turbo_method: :delete, turbo_confirm: "Bist Du sicher?" } do %>
              <%= render 'layouts/img_button', src: 'icon-delete.png', tooltip: 'Löschen' %>
            <% end %>

          </td>
        <% end %>

     </tr>
    <% end %>
  </tbody>
</table>
