<div class="usk-header">
  Neue Gruppe:
</div>

<%= form_for(@group) do |f| %>

  <div class="mb-3">
    <%= f.label 'Name', class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Name der Gruppe", maxlength: 50 %>
  </div>

  <div class="mb-3">
    <%= f.label 'Beschreibung', class: "form-label" %>
    <%= f.text_area :description, rows: 4, class: "form-control", placeholder: "Beschreibung", maxlength: 1024 %>
  </div>

  <div class="usk-btn-group">
    <%= f.submit "Erstellen", class: "btn btn-primary" %>
    <%= link_to "Abbrechen", groups_path, class: "btn btn-danger" %>
  </div>

<% end %>