<div class="d-flex justify-content-between">
  <div class="usk-header">
    Gruppe:
  </div>

  <div class="d-flex gap-2">
    <%= link_to new_group_message_path(@group.id) do %>
      <%= render 'layouts/img_button', src: 'icon-mail.png', tooltip: 'Mitteilung schreiben' %>
    <% end %>

    <%= link_to user_in_group_path(@group.id, current_user.id) do %>
      <%= user_in = @group.users.include? current_user
          render 'layouts/img_button', src: 'icon-group-' + (user_in ? 'remove' : 'add') + '.png', tooltip: user_in ? 'aus Liste entfernen' : 'in die Liste eintragen' %>
    <% end %>
  </div>
</div>

<table class="table mt-3">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td><%= @group.name %></td>
    </tr>
    <tr>
      <th scope="row">Beschreibung</th>
      <td><%= simple_format @group.description %></td>
    </tr>
    <tr>
      <th scope="row">Mitglieder</th>
      <td>
        <div class="d-flex">
          <% @group.users.each do |user| %>
            <%= link_to user.name, user_path(user.id) %><%= @group.users.last == user ? '' : ', ' %>
          <% end %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
