<div class="d-flex justify-content-center align-items-center mt-3 gap-5">

  <div>
    <%= image_tag("usk-ac-logo.png", class: "img-fluid", alt: "logo") %>
  </div>

  <%= form_for(:session, url: login_path) do |f| %>

    <div class="mb-3">
      <%= f.label :email, 'Name / E-Mail:', class: "form-label" %>
      <%= f.text_field :email, class: "form-control form-control-lg" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, 'Passwort:', class: "form-label" %>
      <%= f.password_field :password, class: "form-control form-control-lg" %>
    </div>

    <div class="form-check">
      <%= f.check_box :forgot, class: "form-check-input ml-3" %>
      <%= f.label :forgot, 'Passwort vergessen', class: "form-check-label" %>
    </div>

    <div class="mt-4 mb-5">
      <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
    </div>

    <div>
      <span class="me-2">Neuer Benutzer?</span>
      <%= link_to 'Registrieren', register_path, class: "link-danger" %>
    </div>

  <% end %>

</div>
