  <section class="container-fluid mt-3">
    <turbo-frame id="confirmation">

      <div class="d-flex justify-content-center gap-5">
        <div class="">
          Um sich auf dieser Seite anzumelden, sind folgende Schritte notwendig:
          <p>
            <ol>  
              <li>Registrierung mit ausgesuchten Namen, EMail-Adresse und Passwort</li>
              <li>Bestätigung der EMail-Adresse</li>
              <li>Zustimmung eines Moderators</li>
            </ol>
          </p>
        </div>

        <%= form_for(:register, url: register_path) do |f| %>

          <div class="mb-3">
            <%= f.label :name, 'Name:', class: "form-label" %>
            <%= f.text_field :name, class: "form-control form-control-lg" %>
          </div>

          <div class="mb-3">
            <%= f.label :email, 'E-Mail:', class: "form-label" %>
            <%= f.email_field :email, class: "form-control form-control-lg" %>
          </div>

          <div class="mb-3">
            <%= f.label :password, 'Passwort:', class: "form-label" %>
            <%= f.password_field :password, class: "form-control form-control-lg" %>
          </div>

          <div>
            <%= f.label :password_confirmation, 'Passwortwiederholung:', class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control form-control-lg" %>
          </div>

          <div class="mt-4 mb-4">
            <%= f.submit "Registrieren", class: "btn btn-primary btn-lg" %>
          </div>
          
        <% end %>
      </div>

    </turbo-frame>
  </section>
