
<div class="d-flex justify-content-center align-items-center gap-4">

  <div>
    <%= image_tag("usk-ac-logo.png", class: "img-fluid", alt: "logo") %>
  </div>

  <%= form_for(:password, url: password_path()) do |f| %>

    <div class="form-outline mb-3">
      <%= f.label 'Neues Passwort', class: "form-label" %>
      <%= f.password_field :password, class: "form-control form-control-lg" %>
    </div>

    <div class="form-outline mb-3">
      <%= f.label 'Passwortwiederholung', class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control form-control-lg" %>
    </div>

    <%= f.hidden_field :id, :value => @user.confirm_hash  %>

    <div class="usk-btn-group">
      <%= f.submit "Speichern", class: "btn btn-primary" %>
      <%= link_to "Abbrechen", root_url, class: "btn btn-danger" %>
    </div>

  <% end %>

</div>
