<div class="container-flouid">

  <div class="container-fluid py-5 d-flex flex-column align-items-center overflow-hidden">
    <%= image_tag("usk-ac-banner.jpg", class: "rounded shadow") %>
    <h1 class="mt-2">Urban Sketchers Aachen</h1>
    <%= link_to ENV['FACEBOOK_URL'], class: "d-flex align-items-center gap-2", target: :_blank do %>
      <%= image_tag 'icon-facebook.png', class: 'object-fit-contain' %>
      <span class="fs-2">&#8678;</span>
      Unsere öffentliche Facebook Gruppe
    <% end %>
  </div>

</div>
