<div class="usk-header">Mitteilung editieren:</div>

<%= form_for(@msg) do |f| %>

  <div>
    <%= f.label 'Inhalt', class: "form-label" %>
    <%= f.text_area :content, rows: 6, class: "form-control" %>
  </div>
  
  <%= f.hidden_field :id %>

  <div class="usk-btn-group">
    <%= f.submit "Speichern", class: "btn btn-primary" %>
    <%= link_to "Abbrechen", messages_path, class: "btn btn-danger" %>
  </div>

<% end %>
