<div class="d-flex justify-content-between">
  <div class="usk-header">
    Mitteilungen:
  </div>

  <%= link_to new_message_path do %>
    <%= render 'layouts/add_button', tooltip: 'Neue Mitteilung' %>
  <% end %>
</div>

<table class="table table-striped table-hover mt-3">
  <thead>
    <tr class="table-primary">
      <th>Inhalt</th>
      <th>von</th>
      <th>an</th>
      <th>wann</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    <% @msgs.each do |msg| %>
      <% mine = msg.user_id == current_user.id %>
      <tr>

        <td>
          <%= link_to msg.subject, message_path(msg.id) %>
        </td>

        <td class="<%= msg.user == current_user ? 'table-info' : '' %>">
          <%= link_to msg.user.name, user_path(msg.user.id) %>
        </td>

        <td class="<%= msg.recipient == current_user ? 'table-info' : '' %>">
          <% if msg.group %>
            <%= link_to msg.group.name, group_path(msg.group.id) %>
          <% elsif msg.recipient %>
            <%= link_to msg.recipient.name, user_path(msg.recipient.id) %>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(msg.created_at) %>
        </td>

        <td>
          <% if administration? || mine %>
            <%= link_to edit_message_path(msg.id) do %>
              <%= render 'layouts/img_button', src: 'icon-edit.png', tooltip: 'Editieren' %>
            <% end %>

            <%= link_to msg, data: { turbo_method: :delete, turbo_confirm: "Bist Du sicher?" } do %>
              <%= render 'layouts/img_button', src: 'icon-delete.png', tooltip: 'Löschen' %>
            <% end %>
          <% end %>
        </td>
  
     </tr>
    <% end %>
  </tbody>
</table>
