<div class="usk-header">
  Neue Mitteilung:
</div>

<%= form_for(@msg) do |f| %>

  <div class="mb-3">
    <%= f.label 'An', class: "form-label" %>
    <%= text_field_tag 'recipient', @recipient, class: "form-control", list: 'recipients', id: 'recipient' %>

    <datalist id='recipients'>
    </datalist>
  </div>

  <div class="mb-3">
    <%= f.label 'Inhalt', class: "form-label" %>
    <%= f.text_area :content, rows: 6, class: "form-control" %>
  </div>
  
  <div class="usk-btn-group">
    <%= f.submit "Speichern", class: "btn btn-primary" %>
    <%= link_to "Abbrechen", messages_path, class: "btn btn-danger" %>
  </div>

<% end %>

<script>
  document.querySelector('input#recipient').addEventListener( 'keyup', async (event) => {
    const result = await fetch(`/names_search/${encodeURIComponent(event.target.value)}`);
    const list = await result.json();
    const elem = document.querySelector('datalist#recipients');

    while (elem.firstChild)
      elem.removeChild(elem.lastChild);

    list.forEach( name => {
      const opt = document.createElement('option');
      opt.value = name;
      elem.appendChild(opt);
    });
  });
</script>
