<div class="usk-header">
  Mitteilung:
</div>

<table class="table mt-3">
  <tbody>
    <tr>
      <th scope="row">von</th>
      <td><%= link_to @msg.user.name, user_path(@msg.user.id) %></td>
    </tr>
    <tr>
      <th scope="row">an</th>
      <td>
          <% if @msg.group %>
            <%= link_to @msg.group.name, group_path(@msg.group.id) %>
          <% elsif @msg.recipient %>
            <%= link_to @msg.recipient.name, user_path(@msg.recipient.id) %>
          <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">wann</th>
      <td>
        <span><%= time_ago_in_words(@msg.created_at) %></span>
        <span class="fst-italic ms-4"><%= @msg.created_at.to_fs(:short) %></span>
      </td>
    </tr>
    <tr>
      <th scope="row">Inhalt</th>
      <td><%= simple_format @msg.content %></td>
    </tr>
  </tbody>
</table>
