/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 a {
  text-decoration: none;
 }

 .w-1-px {
  width: 1px;
 }

 .usk-header {
  @extend .h3;
  @extend .mb-3;
 }

 form .usk-btn-group {
  @extend .d-flex;
  @extend .gap-3;
  @extend .mt-4;
 }

 form > div {
  @extend .mb-3;
 }

 .usk-div-visible-up-lg {
  display: none;
  @include media-breakpoint-up(lg) { 
    display: block;
  }
 }

 .usk-div-visible-down-lg {
  display: none;
  @include media-breakpoint-down(lg) { 
    display: block;
  }
 }
