<div class="usk-header">
  Datenschutzerklärung
</div>

<h5 class="mb-3">
  Geltungsbereich und Umgang mit personenbezogenen Daten
</h5>

<p>
  Diese Datenschutzerklärung informiert Nutzer über die Verarbeitung personenbezogener Daten bei der Nutzung dieser Website.
  Die gesetzlichen Regelungen zum Datenschutz gehen aus der europäischen Datenschutzgrundverordnung hervor.
  Das Bundesdatenschutzgesetz (BDSG) und das Telemediengesetz (TMG) gelten ergänzend.
</p>

<h5 class="mb-3">
  Verantwortlich für diese Website ist folgender Anbieter:
</h5>

<div class="ms-4">
  <%= simple_format ENV['IMPRESSUM'] %>
</div>

<h5 class="mb-3">
  Personenbezogene Daten
</h5>

<p>
  Zu den personenbezogenen Daten zählen alle Informationen, die sich auf eine natürliche Person beziehen.
  Dabei kann es sich zum Beispiel um den Namen, eine Anschrift, ein Geburtsdatum oder eine E-Mail-Adresse handeln.
  Diese Informationen werden nur gemäß der gesetzlichen Datenschutzbestimmungen auf der Website erhoben und verarbeitet.
</p>

<h5 class="mb-3">
  Zugriffsdaten
</h5>

<p>
  Nutzen Sie diese Website, um sich zu informieren und geben keine Daten an, dann werden nur die Daten verarbeitet,
  die zur Anzeige der Website auf dem von Ihnen verwendeten Gerät erforderlich sind. Das sind insbesondere:
</p>

<p>
  IP-Adresse
  Zeitpunkt der Anfrage
  Übertragene Datenmenge
  Quellseite
  verwendeter Browser
  Betriebssystem
</p>

<p>
  Rechtsgrundlage für die Verarbeitung dieser Daten sind berechtigte Interessen gemäß Art. 6 Abs. 1 UAbs. 1 Buchstabe f DSGVO,
  um die Darstellung der Website grundsätzlich zu ermöglichen.
</p>

<p>
  Darüber hinaus können Sie verschiedene Leistungen auf der Website nutzen, bei der weitere personenbezogene und
  nicht personenbezogene Daten verarbeitet werden.
</p>

<h5 class="mb-3">
  Als betroffene Person haben Sie folgende Rechte:
</h3>

<p>
  die verarbeitet werden (Art. 15 DSGVO)
  Recht auf Berichtigung der Sie betreffenden Daten, wenn diese unrichtig oder unvollständig gespeichert werden (Art. 16 DSGVO)
  Recht auf Löschung (Art. 17 DSGVO)
  Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen (Art. 18 DSGVO)
  Recht auf Datenübertragbarkeit (Art. 20 DSGVO)
  Widerspruchsrecht gegen die Verarbeitung Sie betreffender personenbezogener Daten (Art. 21 DSGVO)
  Recht nicht einer ausschließlich auf einer automatisierten Verarbeitung beruhenden Entscheidung unterworfen zu werden,
  die Ihnen gegenüber rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt (Art. 22 DSGVO)
  Recht, sich bei einem vermuteten Verstoß gegen das Datenschutzrecht bei der zuständigen Aufsichtsbehörde zu beschweren (Art. 77 DSGVO)
  Cookies
</p>

<p>
  Beim Besuch der Website können Cookies auf Ihrem Gerät gespeichert werden. Dabei handelt es sich um kleine Textdateien,
  die von dem von Ihnen verwendeten Browser gespeichert werden. Cookies dienen dazu, das Internetangebot benutzerfreundlicher zu machen.
  Mithilfe von Cookies kann beispielsweise das Gerät, mit dem diese Website aufgerufen wurde, bei einem erneuten Aufruf erkannt werden.
  Möglich ist dies, weil Cookies die IP-Adresse übermitteln.
</p>

<p>
  Das Setzen von Cookies können Sie durch Einstellungen im Browser einschränken oder verhindern.
  Das Blockieren kann unter Umständen jedoch dazu führen, dass nicht mehr alle Funktionen dieser Website nutzbar sind.
</p>
